{% extends 'base.html' %}
{% block content %}
    <div class="panel panel-danger" style="width: 600px; margin-left: auto;margin-right: auto">
        <div class="panel-heading">
            <p class="text-center"><b>本网站的意义</b></p>
            <p>本网站是作者做来给自己班上的同学们选课用的，作者在班上总共有30位同学，作者很爱他的同学们，所以就给每位同学都创建了一个账号，
                所有同学都可以通过作者给的账号来登录本网站然后选择自己喜欢的课哦。
            </p>
            <p class="text-center"><b>QA环节</b></p>
            <P>Q：为什么没有注册账号的功能呢？</P>
            <p>
                A：其实注册账号的代码是已经打好了的，但是考虑到作为一个官方的选课系统，学生账号好像都是由官方来录进去的，不能随便让人注册，不然
                会有不法分子进来捣乱的，为了防止不法分子乱来，作者就不开放注册功能啦。
            </P>
            <p>Q：为什么没有教师登录呢？</p>
            <p>
                A：因为作者是个学生所以不想让老师登录进来捣乱（不是）。其实作者也做了教师登录，登录的代码和登录界面都写好了，还有教师的数据库表都已经
                创建好了，但是一想到老师们登录 进来就要给同学们打分、评价等等，如果想要实现这些功能并且专门做几个美观的页面与之匹配，那工作量实在
                是有点大了，时间紧迫，就只好委屈 一下老师们暂时先别登录啦。
            </p>
            <p>Q：为什么首页这么简洁啊？</p>
            <p>
                A：因为作者一直没有灵感来设计首页，事实上，首页是作者最后做的一个模块，从新建第一个文件夹开始作者就在思考首页应该怎么做了，但是一直
                到网站基本搭建完成都没有想好要怎么做一个自己满意的首页。思来想去还是决定把首页做简单点，放一个作者喜欢的大图吧。（其实同时也有时间因
                素在里面啦）
            </p>
            <P class="text-center"><b>最后结语</b></P>
            <p>
                本网站是作者本人花了整整四天半做完的，中间经历了很多困难的，通过这次的网站搭建，作者又get到了新技能，但是同时又少了一点头发，真的
                是既高兴又伤心哈哈哈。最后，作者真诚地希望每一位浏览了此页面的人事事顺心~
            </p>
        </div>
        <div class="panel-body">
            <p>使用需知：</p>
            <p>本网站只对游客开放一部分功能体验，如果想体验本网站的全部功能，那就请尽快登录吧。</p>
        </div>
    </div>
{% endblock %}