{% extends 'base.html' %}
{% block content %}


    <div class="panel panel-warning">

        <div class="panel-heading" style="background-color:#9c3c3c; color: white">
        {% comment %} <div class="panel-heading" > {% endcomment %}
            可选课程
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>书籍编号</th>
                    <th>书籍名称</th>
                    {% comment %} <th>书籍作者</th> {% endcomment %}
                    <th>书籍作者</th>
                    <th>出版日期</th>
                    <th>书籍简介</th>
                    {% if request.session.student_name %}
                        <th>选书</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for course in current_page %}
                    <tr>
                        <td>{{ course.id }}</td>
                        <td>{{ course.name }}</td>
                        {% comment %} <td>{{ course.credits }}</td> {% endcomment %}
                        <td>{{ course.place }}</td>
                        <td>{{ course.time }}</td>
                        <td><a href="#">{{ course.teacher.name }}</a></td>
                        {% if request.session.student_name %}
                            <td>
                                <a type="button"
                                   href="{% url 'courseApp:SelectCourse' %}?course_id={{ course.id }}"
                                   class="btn btn-xs btn-default">
                                    {% if course in selected_courses %}
                                        退课
                                    {% else %}
                                        选课
                                    {% endif %}
                                    {% if selected_courses_num == 5 %}
                                        <span style="color: red">数量以上限</span>
                                    {% endif %}
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!--  面板的尾部分页器  -->
        <div class="panel-footer">
            <nav aria-label="...">
                <ul class="pagination pagination-lg">
                    {% if current_page.has_previous %}
                        <li><a href="{% url 'courseApp:CourseCenter' %}?pagenum={{ current_page.previous_page_number }}"
                               aria-label="Previous"><span style="color: #9c3c3c;" aria-hidden="true">«</span></a></li>
                    {% else %}
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                        </li>
                    {% endif %}
                    {% for num in  page_range %}
                        {% if num == current_page.number %}
                            <li class="active"><a
                                style="background-color: #9c3c3c; color: white;"
                                href="{% url 'courseApp:CourseCenter' %}?pagenum={{ num }}">{{ num }}</a></li>
                        {% else %}
                            <li><a style="color: #9c3c3c;" href="{% url 'courseApp:CourseCenter' %}?pagenum={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if current_page.has_next %}
                        <li><a href="{% url 'courseApp:CourseCenter' %}?pagenum={{ current_page.next_page_number }}"
                               aria-label="Next"><span style="color: #9c3c3c;" aria-hidden="true">»</span></a></li>
                    {% else %}
                        <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <!--  分页器结束  -->

    </div>


{% endblock %}